<h1>Listing portfolios</h1>
<table class = "portfolios">
<% @portfolios.each do |portfolio| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="list_description">
            <dl>
                <dt><%= portfolio.user_id %></dt>
                <dd><%= truncate(strip_tags(portfolio.description),
                    length: 80) %></dd>
            </dl>
</td>
        <td class="list_actions">
            <%= link_to 'Show', portfolio %><br/>
            <%= link_to 'Edit', edit_portfolio_path(portfolio) %><br/>
            <%= link_to 'Destroy', portfolio, method: :delete, 
            data: { confirm: 'Are you sure?' } %>
</td> 
</tr>
<% end %>
</table>
<br />
<%= link_to 'New portfolio', new_portfolio_path %>
